<head>
  
  <title>Note Manager</title>
</head>

<body>
  <nav class="red">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">NoteManager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="nav-item">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#addModal">Add Note</a>
            
            
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
      <h1>Welcome to Meteor</h1>
    <ul class="collection">
      {{#each notes}}
      {{> note}}
      {{/each}}
    </ul>
  </div>
  
  {{> add}}

  <!-- <script type="text/javascript">
    $(function(){
      //the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $(".modal").modal();
    });
</script> -->

<script>
   $(document).ready(function() {
  $('.modal-trigger').leanModal();
});
  </script> 
  
</body>


<template name="note">
  <li class="collection-item">{{text}}</li>

</template>

<template name="add">
  <!-- Modal Structure -->
  <div id="addModal" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

</template>